@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<Testing Age="test" Name="Kenneth"></Testing>
<Testing2 Age="22" Name="Kenneth"></Testing2>

Welcome to your new app.

@code {

    int TestAge = 28;

}