@inherits Fazor.FazorComponent
@rendermode InteractiveServer

<p>This is fake.</p>

@code {

    private RenderFragment FazorRender(string name, int age, EventCallback onClick)
    {
        return @<p>Hello, @name! I heard you are @age years old.<button @onclick="@onClick">Click me</button></p>;
    }
}